@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
}
  
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
  
p, h1, h2, h3, h4, h5 {
    color: rgb(63, 63, 63);
    text-align: center;
}

ul {
    color: rgb(63, 63, 63);
}

li {
    color: rgb(63, 63, 63);
}
  
h1, h2, h3, h4, h5, h6 {
    margin: 10px auto 30px auto;
    font-weight: 700;
    line-height: 1.5;
    font-family: 'Rubik', sans-serif;
    letter-spacing: -1px;
    text-align: center;
}

hr {
    width: 80%;
    background-color: rgb(255, 255, 255);
    border-top: 1px dotted rgb(164, 164, 164);
}
  
main span.highlight {
    color: rgb(235, 150, 50);
    font-weight: 700;
    line-height: 1.5;
    font-family: 'Rubik', sans-serif;
    letter-spacing: -1px;
}

p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.5;
    letter-spacing: 0;
    word-spacing: 4px;
    font-family: 'Lato', sans-serif;
}

main em {
    font-style: italic;
}

main strong {
    font-weight: 700;
}
  
h3 {
    font-size: 20px;
    width: 100%;
}
  
h1 {
    font-size: 32px;
    width: 100%;
}
  
main {
    width: 100%;
    margin: 100px auto 30px auto;
    padding-top: 10px;
    padding-bottom: 0;
}




/* Nav */

#my-header {
    margin-bottom: 51px;
}

#my-header nav {
    padding: 10px 20px 10px 20px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0,0,0,0.11);
    width: 100%;
    z-index: 1;
    font-weight: 900;
    margin-bottom: 40px;
}

#my-header nav .navbar-brand {
    font-family: 'Rubik', sans-serif;
    letter-spacing: -1px;
    color: rgb(63, 63, 63);
}

#my-header nav .navbar-nav a {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(255, 180, 92);
    transition: 300ms;
}

#my-header nav .navbar-nav a:hover {
    color: rgb(235, 150, 50);
    transition: 300ms;
}

#my-header button {
    outline: none;
    border: 0;
}






main .calculadora-cantidad {
    width: 90%;
    padding: 15px;
    margin: 30px auto 70px auto;
    

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

main .inputs {
    width: 100%;
    
}

main .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main .calculadora-total {
    width: 90%;
    padding: 15px;
    margin: 30px auto 70px auto;
    

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

main .calculadora-porcentaje {
    width: 90%;
    padding: 15px;
    margin: 30px auto 70px auto;
    

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

main input[type=number] {
    outline: none;
    color: rgb(63, 63, 63);
    display: inline;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    border: 2px solid rgb(184, 184, 184);
}

main input[type=number]:focus {
    border: 2px solid rgb(184, 184, 184);
    background-color: rgb(255, 240, 222);
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.11);
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.11);
}

main input[type=text] {
    outline: none;
    color: rgb(63, 63, 63);
    display: inline;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    background-color: rgb(255, 203, 139);
    border: 2px solid rgb(255, 203, 139);
}

main button {
    outline: none;
    background-color: rgb(255, 180, 92);
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid rgb(255, 180, 92);
    text-decoration: none;
    font-size: 14px;
    display: block;
    width: fit-content;
    text-align: center;
    margin: 30px auto 0 auto;
    transition: 300ms;
}


main button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 180, 92);
    border: 2px solid rgb(255, 180, 92);
    cursor: pointer;
    outline: none;
    transition: 300ms;
}

@media(max-width: 1024px) {
    main input {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
















/* Footer */

footer {
    background: rgb(98,98,98);
    background: -moz-radial-gradient(circle, rgb(90, 90, 90) 0%, rgba(60,60,60,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(90, 90, 90,1) 0%, rgba(60,60,60,1) 100%);
    background: radial-gradient(circle, rgba(90, 90, 90,1) 0%, rgba(60,60,60,1) 100%);
    padding: 0;
    color: rgb(255, 255, 255);
    width: 100%;
    margin: 100px auto 0 auto;
}

footer .footer-name p {
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}



